name: luckywheel
description: This is a package to help your create your lucky wheel (spinning widget) easily and effectively
version: 1.0.0
homepage: https://github.com/nguyencse/luckywheel

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: